
.list-area-root {
  display: flex;
  flex-direction: column;
  /* border: solid white; */
  width: 100%;
  height: 100%;
}

.list-area {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  /* background-color: black; */
}
