
#sidebar {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 60px 0;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  transition: 0.4s all ease-in-out;
  /* width: 56px; */
}

.sidebar-menus-list {
  grid-template-rows: repeat(3, 50px);
}

.sidebar-menus {
  display: flex;
  align-items: center;
  padding-left: 20px;
  list-style-type: none;
  color: hsl(184, 100%, 91%);
  transition: 0.3s all ease-in-out;
}

.my-day-icon {
  color: hsl(27, 81%, 44%);
}

.planned-icon {
  color: hsl(214, 81%, 44%);
}

.all-icon {
  color: hsl(313, 81%, 44%);
}

.sidebar-menus:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.menu-icons {
  margin: 0 20px 0 0;
  /* color: aqua; */
  transition: 0.3s all ease-in-out;
}
